// Reescribir colores
$naranja: #EC7000;
$naranja-hover: #BC5900;
$light-01: #FEE082;
$light-02: #FEF3E0;
$azul: #003399;
$azul-hover: #00287A;
$light-03: #C2C9EA;
$light-04: #E7EAF7;
$verde:  #4CAC8B;
$neutral: #FAF7F5;
$titulo-cabecera: #231D19;
$textos: #56504C;
$placeholder: #89837F;
$bordes-card: #EFE9E5;
$yellow:  #F5C66D;

// Colores
$primary: $naranja;
$secondary: #003399;
$success: $light-03;
$info: #007AB7;
$light: #FFFFFF;
$dark: $azul-hover;


//botones
$btn-border-width:  2px;
$btn-padding-y: 10px;

//inputs
$input-padding-y-lg: 11px;
$input-font-size-lg: 1rem;
$input-font-size: 0.9rem;
$input-font-weight: normal;

//Switches
/* .form-switch .form-check-input {
    width: 45px !important;
    height: 30px !important;
} */

//form
$form-floating-height: 3rem;

//acordeon
$accordion-border-color: $bordes-card;
$accordion-border-radius: 8px;
$accordion-inner-border-radius: 8px;
$accordion-icon-color: $naranja;
$accordion-button-icon: url(../img/ic_flecha.svg);

//Tooltips
$tooltip-bg:  #000000;

//modal
$modal-content-color: $textos;
$modal-content-border-radius: 12px;
$modal-inner-padding: 32px;

//tipografias
$headings-font-family: 'ItauDisplay';
$headings-color:    $titulo-cabecera;

$itautextpro: 'itauRegular';
$itaudisplay: 'ItauDisplay';

//alertas
$alert-border-radius: 8px;

//barras de progreso
$position-values: (
  0: 0,
  25: 25%,
  35: 30%,
  50: 50%,
  70: 65%,
  75: 75%,
  100: 100%
);

//Border
$toast-border-radius:   8px;
$border-radius: 8px;

@font-face {
    font-family: 'ItauRegular';
    src: url("../../src/fonts/ItauTextPro_W_Rg.woff2");
}

body {
    font-family: 'ItauRegular', sans-serif; /*Specify your font name here*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'ItauDisplay';
    src: url("../../src/fonts/ItauDisplayPro_W_Bd.woff2");
}






// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

