// Reescribir colores
$naranja: #EC7000;
$naranja-hover: #BC5900;
$light-01: #FEE082;
$light-02: #FEF3E0;
$azul: #003399;
$azul-hover: #00287A;
$light-03: #C2C9EA;
$light-04: #E7EAF7;
$verde:  #4CAC8B;
$neutral: #FAF7F5;
$titulo-cabecera: #231D19;
$textos: #56504C;

// Colores
$primary: $naranja;
$secondary: #003399;
$success: $light-03;
$info: $verde;
$light: #FFFFFF;
$dark: $azul-hover;
$bordes-card: #EFE9E5;


//botones
$btn-border-width:  2px;
$btn-padding-y: 10px;

//inputs
$form-floating-height: 48px;
$form-floating-line-height: 1.5;
$form-floating-padding-x: 16px;
$form-floating-input-padding-t: 22px;
// $form-floating-label-opacity: 1;
$form-floating-label-transform:   scale(.85) translateY(-0.8rem) translateX(.15rem);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.5,
  9: $spacer * 4,
  10: $spacer * 4.5,
  11: $spacer * 5,
  12: $spacer * 5.5,
  13: $spacer * 6,
);


//tipografias
$headings-font-family: 'ItauDisplay';
$headings-color:    $titulo-cabecera;

@font-face {
    font-family: 'ItauRegular';
    src: url("../../src/fonts/ItauTextPro_W_Rg.woff2");
}

body {
    font-family: 'ItauRegular', sans-serif; /*Specify your font name here*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'ItauDisplay';
    src: url("../../src/fonts/ItauDisplayPro_W_Bd.woff2");
}

// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


//acordeon
$accordion-border-color: $bordes-card;
$accordion-border-radius: 8px;
$accordion-inner-border-radius: 8px;
$accordion-icon-color: $naranja;
$accordion-button-icon: url(../img/ic_flecha.svg);